@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-size: 15px; font-family: "Open Sans", sans-serif; line-height: 1.2; }

.out { width: 1000px; margin-left: auto; margin-right: auto; position: relative; }

.wrap { width: 940px; margin-left: auto; margin-right: auto; }

.header { padding-top: 23px; min-height: 101px; position: absolute; top: 0; left: 0; right: 0; z-index: 1000; background: rgba(255, 255, 255, 0.92); *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }

.header-i { position: relative; }

.header__logo { width: 170px; position: absolute; top: -12px; left: 2px; background: url('../img/icons-s173318b3cd.png') 0 0 no-repeat; width: 169px; height: 104px; font: 0/0 a; text-shadow: none; color: transparent; }

.header__right { width: 217px; float: right; }

.search { position: relative; }

.search__input { width: 204px; padding: 5px 30px 5px 5px; background: white; border: 1px solid #9b9b9b; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.search__btn { background: url('../img/icons-s173318b3cd.png') 0 -146px no-repeat; width: 17px; height: 18px; position: absolute; top: 5px; right: 19px; }

.header__center { padding: 4px 37px 0 25px; overflow: hidden; text-align: right; font-size: 16px; line-height: 1.4; text-transform: uppercase; color: #42629c; font-family: "Open Sans SemiBold", sans-serif; font-weight: bold; }

.lang { margin-bottom: 19px; font-size: 0; font-family: "Open Sans SemiBold", sans-serif; font-weight: bold; }

.lang__btn { width: 90px; height: 24px; line-height: 24px; margin-left: 24px; display: inline-block; font-size: 11px; text-transform: uppercase; text-align: center; text-decoration: none; color: #4a4a4a; }
.lang__btn:first-child { margin-left: 0; }
.lang__btn.is-active { background: #42629c; color: white; }

.nav { width: 670px; display: table; border-spacing: 0px; position: absolute; top: 177px; left: 50%; margin-left: -343px; z-index: 999; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5); -moz-box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5); box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5); overflow: hidden; }
.nav ul { display: table-row; border-bottom: 1px solid #40434b; border-right: 1px solid #40434b; }
.nav li { display: table-cell; box-shadow: 1px 0 0 red; }
.nav li:first-child a { border-left: 1px solid transparent; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.nav a { height: 54px; line-height: 54px; border-left: 1px solid #525252; -webkit-box-shadow: inset 1px 0px 0 #393939; -moz-box-shadow: inset 1px 0px 0 #393939; box-shadow: inset 1px 0px 0 #393939; display: block; background: #40424b; color: #d3d0d0; text-decoration: none; text-align: center; font-family: "Open Sans Light", sans-serif; }
.nav a:hover { background: #696a72; }
.nav a.is-active { background: #54555c; color: white; }

.slider { height: 295px; position: relative; }

.slider__item { width: 100%; height: 295px; }
.slider__item img { width: 100%; height: 295px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.slider__pager { width: 670px; text-align: center; position: absolute; left: 50%; margin-left: -341px; bottom: 16px; z-index: 200; }
.slider__pager span { width: 8px; height: 8px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; margin-left: 18px; display: inline-block; background: rgba(255, 255, 255, 0.49); font-size: 0; cursor: pointer; }
.slider__pager span:first-child { margin-left: 0; }
.slider__pager span.cycle-pager-active { background: white; }

.page { margin-bottom: 56px; border-top: 40px solid #d9d4d0; -webkit-box-shadow: inset 0 3px 0 #afaeae; -moz-box-shadow: inset 0 3px 0 #afaeae; box-shadow: inset 0 3px 0 #afaeae; text-align: center; }

.page__content { padding-right: 31px; border-right: 1px solid #d4d4d4; text-align: justify; font-size: 15px; line-height: 1.4; color: #555555; }
.page__content p { margin-bottom: 7px; }
.page__content p strong { font-family: "Open Sans SemiBold", sans-serif; font-weight: bold; }

.wrap-title { height: 41px; position: relative; top: -22px; }

.title { padding: 24px 130px 0 130px; display: inline-block; background: white; text-transform: uppercase; text-align: center; font-size: 17px; color: #4a4a4a; font-family: "Open Sans SemiBold", sans-serif; font-weight: bold; position: relative; }
.title:before, .title:after { content: ""; position: absolute; bottom: 1px; }
.title:before { background: url('../img/icons-s173318b3cd.png') 0 -174px no-repeat; width: 16px; height: 18px; left: -16px; }
.title:after { background: url('../img/icons-s173318b3cd.png') 0 -202px no-repeat; width: 16px; height: 18px; right: -16px; }

.meta a { background: #40619e; font-size: 14px; text-transform: uppercase; color: #4a4a4a; }

.sub-nav { text-align: left; }
.sub-nav li { padding: 7px 30px; margin-bottom: 8px; position: relative; }
.sub-nav li:before { content: ""; background: url('../img/icons-s173318b3cd.png') 0 -245px no-repeat; width: 11px; height: 6px; position: absolute; left: 18px; top: 13px; }
.sub-nav li.is-active { background: #40619e; -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.5); }
.sub-nav li.is-active a { color: white; }
.sub-nav li.is-active:hover a { text-decoration: none; }
.sub-nav a { font-size: 15px; text-decoration: none; color: #4a4a4a; }
.sub-nav a:hover { text-decoration: underline; }

.footer { background: #40434b; padding: 12px 0; }

.footer__in { height: 44px; line-height: 44px; text-align: center; position: relative; }
.footer__in:before, .footer__in:after { content: ""; width: 926px; height: 5px; background-image: url(../img/icons/footer-shadow.png); position: absolute; left: 50%; margin-left: -463px; right: 0; }
.footer__in:before { top: 0; }
.footer__in:after { bottom: 0; }

.footer__copy { color: #d4d4d4; font-size: 12px; display: inline-block; font-family: "Open Sans Light", sans-serif; }

.second-nav { margin-left: -34px; margin-right: 8px; display: inline-block; *zoom: 1; }
.second-nav ul { font-size: 0; }
.second-nav:after { content: " "; display: table; clear: both; }
.second-nav li { margin: 0 8px; display: inline-block; position: relative; }
.second-nav li:before { content: "|"; position: absolute; top: 0; right: -10px; color: #cacaca; font-size: 12px; font-family: "Open Sans Light", sans-serif; }
.second-nav a { font-size: 12px; color: #cacaca; text-decoration: none; font-family: "Open Sans Light", sans-serif; }
.second-nav a:hover { text-decoration: underline; }
.second-nav a:first-child:before { content: none; }

.l { width: 940px; margin-left: auto; margin-right: auto; font-size: 0; }
.l .l-page { width: 719px; padding-top: 25px; display: inline-block; font-size: 15px; vertical-align: top; }
.l .l-sidebar { width: 213px; padding-top: 25px; display: inline-block; font-size: 15px; vertical-align: top; }
