// default layout
.l
	width: 1000px
	padding: 0 35px
	margin-left: auto
	margin-right: auto
	+clr
	+box
	.l-page
		width: 722px
		padding-top: 30px
		float: left
		font-size: 15px
		vertical-align: top
	.l-sidebar
		// width: 212px
		width: 208px
		padding-top: 30px
		float: right
		font-size: 15px
		vertical-align: top
