// default layout
.l
	width: 1000px
	margin-left: auto
	margin-right: auto
	font-size: 0
	.l-page
		width: 688px
		padding: 0 0 0 35px
		padding-top: 25px
		display: inline-block
		font-size: 15px
		vertical-align: top
	.l-sidebar
		width: 242px
		padding-top: 25px
		margin-right: 35px
		display: inline-block
		font-size: 15px
		vertical-align: top
